<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vue Course</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <div class="min-h-screen flex justify-center">
        <div class="flex items-center ml-8 mt-8 w-2/3" id="app">
               <form @submit.prevent="submitForm" id="form" class="w-full flex flex-col">
                   <div class="flex flex-col mb-4">
                       <label for="" class="text-sm font-thin text-grey-darker mb-2">Name :</label>
                       <input v-model="name" id="name" type="text" class="py-1 px-2 border rounded border-blue">
                   </div>
                   <div class="flex flex-col mb-4">
                        <label for="" class="text-sm font-thin text-grey-darker mb-2">Email :</label>
                        <input v-model="email" id="email" type="text" class="py-1 px-2 border rounded border-blue">
                    </div>
                    <div class="flex flex-col mb-4">
                            <label for="" class="text-sm font-thin text-grey-darker mb-2">Content :</label>
                            <textarea v-model="content" id="content" type="text" class="py-1 px-2 border rounded border-blue"></textarea>
                    </div>
                    <div class="w-full">
                        <button v-show="active" type="submit" id="activeButton" class="bg-blue-light text-white py-2 font-thin w-full hover:bg-blue-lighter rounded">Send</button>
                        <button v-show="!active" id="disabledButton" class="bg-blue-light text-white py-2 font-thin w-full hover:bg-blue-lighter rounded opacity-50 cursor-not-allowed">Send</button>
                    </div>
                    <pre class="response border mt-8 p-8"> {{ response }}</pre>
               </form>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    //     $(function() {
    //         $('#activeButton').hide();
            
    //         $('#name').keyup(function() {
    //             $('#disabledButton').show();
    //             $('#activeButton').hide();

    //             if($(this).val().length > 0)
    //             {
    //                 $('#disabledButton').hide();
    //                 $('#activeButton').show();
    //             }
    //         })
    //         $("#form").submit(function(event) {
    //             event.preventDefault()
    //             var data = {
    //                 name : $("#name").val(),
    //                 email : $("#email").val(),
    //                 content : $("#content").val(),
    //             }

    //             $.ajax({
    //                 type : "POST",
    //                 url : '//jsonplaceholder.typicode.com/posts',
    //                 data : data,
    //                 dataType : 'json',
    //                 encode : true
    //             }).done(function(data) {
    //                 $('.response').empty().append(JSON.stringify(data,null,2))
    //             })
    //         })
    //     })
    // </script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        new Vue({
            el : '#app',
            data : {
                name : '',
                email : '',
                content : '',
                active : false,
                response : ''
            },
            watch : {
                name(value) {
                    this.active = false
                    if(value.length > 0)
                    {
                        this.active = true
                    }
                }
            },
            methods: {
                submitForm() {
                    axios.post('//jsonplaceholder.typicode.com/posts', {
                        name: this.name,
                        email: this.email,
                        content : this.content
                    })
                    .then((response) => {
                        this.response = response.data
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                }
            }
        })
    </script>
</body>

</html>